<!DOCTYPE html>
<html lang="en">

<head>

    <title>OneRide</title>

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>


</head>

<body style="margin:0;padding:0;border-top: 20px solid #15c0df; font-family:'Lato', sans-serif;">
    <h1 style="font-size:2em; text-align:center;"><span style="font-weight:300;">One</span><span>Ride</span></h1>
    <br/>
    <p style="text-align:center;">Lyft, Sidecar, and Summon from one app. Get there faster &amp; cheaper.</p>
    <br/>
    <br/>
    <div style="width:420px;margin:0 auto;"><iframe width="420" height="315" src="//www.youtube.com/embed/_83VvpJGa84" frameborder="0" allowfullscreen></iframe></div>
</body>

</html>
